:root{
    --primary-color: #FCD34D;
}





.footer{
    background-color: var(--primary-color);
    padding: 2rem 1rem;
    text-align: center;
    border-top-left-radius: 1rem;
    color: black;
    
}


.footer .footer-header {
    margin: auto;
    font-weight: bold;
    font-size: large;
}

h1{
    background-color: var(--primary-color);
    padding-left: 1rem;
}


#btn-translate{
cursor: pointer;
padding: 0.5rem ;
}